@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

:root {
  --main-width: 600px;
  --small-screen-width: 90vw;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  color: #afacc3;
  scroll-behavior: smooth;
  -webkit-appearance: none;
}

*:focus {
  outline: none;
}

body {
  background-color: #302c45;
}

@media (max-width: 600px) {
  .body {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    overflow: hidden;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ScrollBar */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #2c2a38;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #575465;
  border-radius: 10px;
  transition: background-color 0.4s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #4e4b5a;
}

/* Spinner */
.loading {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.loader {
  -webkit-animation: spin 1.5s infinite; /* Safari */

  border: 4px solid #bdbdbd;
  border-radius: 50%;
  border-top: 4px solid #262b2f;
  width: 25px;
  height: 25px;
  animation: spin 1.5s infinite;
}

.fa-spinner {
  animation: spin 1s infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Header ### Start ### */
#header {
  background-color: #37334a;
  border-bottom: 1px solid #2622368f;
  z-index: 5;
  position: relative;
  left: 0;
  right: 0;
}

#header .header-container {
  width: var(--main-width);
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}

#header .logo h2 a {
  color: #0fa645;
  font-weight: 800;
}

#header ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#header ul li {
  padding-left: 20px;
}

#header .dropdown-button,
.dropdown-menu {
  display: none;
}

.dropdown-menu {
  transition: transform 0.4s;
}

.logout:hover {
  cursor: pointer;
}

@media (max-width: 600px) {
  #header .header-container {
    width: var(--small-screen-width);
  }

  #header .dropdown-button {
    display: block;
  }

  #header ul {
    display: none;
  }

  .dropdown-menu {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;

    transform: translateY(-200px);

    display: flex;
    flex-direction: column;
    background-color: #37334a;
    text-align: left;
    padding-top: 10px;
    align-items: flex-start;
    z-index: 4;
  }

  .dropdown-menu li {
    width: 100%;
    display: flex;
  }

  .dropdown-menu li a,
  .dropdown-menu li p {
    padding: 15px;
    width: 100%;
  }

  .dropdown-menu li a:hover,
  .dropdown-menu li p:hovers {
    background-color: #2622368f;
  }

  .bc {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #302c45ec;
    width: 100vw;
    height: 100vh;
    z-index: 2;
  }
}

/* Header ### End ### */

/* Main Page ### Start ### */
#main-page .jumbotron {
  display: flex;
  width: var(--main-width);
  margin: 50px auto;
  justify-content: center;
  align-items: center;
}

#main-page .jumbotron .slogan-img img {
  width: 200px;
}

#main-page .jumbotron .slogan a {
  color: #0fa645;
  padding: 10px 0;
  display: inline-block;
}

#main-page .explore h3 {
  text-align: center;
  margin-bottom: 20px;
}

#main-page .explore .row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  width: var(--main-width);
  margin: auto;
}

#main-page .explore .row .col {
  text-align: center;
  background-color: #37334a;
  border-radius: 3px;
  padding: 10px 0;
}

#main-page .explore .row .col img {
  width: 100px;
}

#main-page .link-search button,
.delete-modal button {
  background-color: #12ad47;
  padding: 10px 25px;
  border: none;
  border-radius: 3px;
  color: #d6ffe8;
  margin-left: 20px;
  transition: background-color 0.2s;
  margin: 20px 0;
}

#main-page .link-search button:hover,
.delete-modal button:hover {
  cursor: pointer;
  background-color: #129b42;
}

#main-page .link-search {
  display: flex;
  justify-content: center;
}

footer {
  background-color: #37334a;
  padding: 20px;
}

footer .wrapper {
  display: flex;
  justify-content: space-between;
  width: var(--main-width);
  margin: auto;
}

footer .wrapper p {
  font-size: 0.8em;
}

footer .wrapper a {
  color: #0fa645;
}

@media (max-width: 600px) {
  #main-page .jumbotron .slogan-img {
    display: none;
  }

  #main-page .jumbotron,
  #main-page .explore,
  footer .wrapper {
    width: var(--small-screen-width);
  }

  #main-page .explore {
    margin: auto;
  }

  #main-page .explore .row {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: none;
    width: 100%;
  }
}

/* Main Page ### End ### */

/* Search Form ### Start ### */
#search-form {
  background-color: #37334a;
  padding: 10px 0;
  border-bottom: 1px solid #2622368f;
}

#search-form form {
  display: flex;
  align-items: center;
  width: var(--main-width);
  margin: auto;
}

#search-form form .search-query {
  border: 1px solid #2622368f;
  width: 100%;
  display: flex;
  border-radius: 3px;
  position: relative;
}

#search-form form .search-query input {
  width: 100%;
  padding: 10px;
  background-color: #37334a;
  border: 0;
}

#search-form form .search-query img {
  width: 15px;
  margin-left: 15px;
}

#search-form form button {
  background-color: #12ad47;
  padding: 10px 25px;
  border: none;
  border-radius: 3px;
  color: #d6ffe8;
  margin-left: 20px;
  transition: background-color 0.2s;
}

#search-form form button:hover {
  cursor: pointer;
  background-color: #129b42;
}

#search-form select {
  background-color: #37334a;
  border: 1px solid #2d293f;
  padding: 10px;
  width: 100%;
}

#search-form .more-info {
  display: flex;
  margin: 0;
  width: 100%;
}
#search-form .more-info div {
  width: 100%;
  margin: 0 auto;
}

#search-form .more-info div:first-of-type {
  margin: 0 10px !important;
}

@media (max-width: 600px) {
  #search-form .more-info div:first-of-type {
    margin: 0 !important;
  }

  #search-form .more-info {
    margin-top: 10px;
  }

  #search-form form {
    flex-direction: column;
  }

  #search-form form button {
    width: 100%;
    margin: 0;
    margin-top: 10px;
  }
}

.empty-input {
  position: absolute !important;
  padding: 5px;
  bottom: -35px;
  font-size: 0.8em;
  border-radius: 5px;
  animation: shake 0.4s;
  z-index: 3;
}

.empty-input p::before {
  content: "";
  position: absolute;
  top: -6px;
  background-color: #ad1212;
  width: 10px;
  height: 10px;
  padding: 5px;
  transform: rotate(45deg);
  z-index: -1;
}

.empty-input p {
  color: #fffffff0;

  position: relative;
  margin-top: 5px;
  background-color: #ad1212;
  padding: 5px;
  border-radius: 5px;
  z-index: 2;
}

.success {
  animation: none !important;
}

.success p {
  background-color: #0f943d !important;
}

.success p::before {
  background-color: #0f943d !important;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

@media (max-width: 700px) {
  #search-form form {
    width: var(--small-screen-width);
  }
}

/* Search Form ### End ### */

/* User Form ### Start */

.user-form form {
  width: 400px;
  margin: 50px auto;
}

.user-form form div {
  margin: 10px 0;
  position: relative;
}

.user-form form p {
  font-size: 0.8em;
}

.user-form form input {
  width: 100%;
  padding: 10px;
  background-color: #37334a;
  border: 0;
  border: 1px solid #2622368f;
  border-radius: 3px;
  /* font-size: 16px; */
}

.user-form form .check {
  background-color: #37334a;
  border-radius: 3px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #2622368f;
  margin-top: 0;
  transition: background-color 0.4s;
}

.user-form form .check img {
  width: 15px;
}

.user-form form .check:hover {
  background-color: #292638;
  cursor: pointer;
}

.user-form form button {
  background-color: #12ad47;
  padding: 10px 25px;
  border: none;
  border-radius: 3px;
  color: #d6ffe8;
  transition: background-color 0.2s;
  display: flex;
  align-items: center;
}

.user-form form button:hover {
  cursor: pointer;
  background-color: #129b42;
}

.user-form form .submit .empty-input {
  bottom: -45px;
}

.user-form form .submit .loader {
  margin: 0;
  margin-right: 10px;
  border: 2px solid #bdbdbd;
  border-radius: 50%;
  border-top: 2px solid #262b2f;
  width: 15px;
  height: 15px;
  animation: spin 1.5s infinite;
}

@media (max-width: 600px) {
  .user-form form {
    width: var(--small-screen-width);
  }
}

/* User Form ### End */

/* Update Password ### Start ### */
#update-password .password .wrapper,
#reset-password .password .wrapper {
  display: flex;
  align-items: center;
  margin: 0;
}

#update-password .password .wrapper div,
#reset-password .password .wrapper div {
  margin: 0 0 0 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#update-password .password .wrapper div img,
#reset-password .password .wrapper div img {
  width: 15px;
}

.show {
  background-color: #332f46;
  border-radius: 3px;
  border: 1px solid #5b5875;
  display: block;
}

.show:hover {
  cursor: pointer;
}

/* Update Password ### End ### */

/* Job Table ### Start ### */

.job-table .jobs-wrapper {
  width: var(--main-width);
  margin: 50px auto 0 auto;
}

.job-table .jobs-wrapper .results-header {
  background-color: #332f46;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9em;
}

.job-table .jobs-wrapper .jobs {
  overflow-y: scroll;
  height: 60vh;
  background-color: #37334a;
  display: flex;
  flex-direction: column;
}

.job-table .jobs-wrapper .jobs a {
  padding: 20px 15px;
  transition: background-color 0.4s;
}

#search-results .jobs a p,
.job-table .jobs-wrapper .jobs a {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.job-table .jobs-wrapper .jobs a:hover {
  background-color: #302c45;
  cursor: pointer;
}

.job-table .jobs-wrapper .jobs-no {
  color: #5b5875;
}

.job-table .jobs-wrapper .jobs li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.job-table .jobs-wrapper .jobs li a {
  width: 100%;
}

.job-table .jobs-wrapper .jobs li .bookmark {
  padding: 20px;
  transition: background-color 0.4s;
}

.job-table .jobs-wrapper .jobs li .bookmark:hover {
  background-color: #302c45;
}

.job-table .jobs-wrapper .jobs li .bookmarked {
  background-color: #0f943d;
  transition: background-color 0.4s;
}

.job-table .jobs-wrapper .jobs li .bookmarked:hover {
  background-color: #9b1212;
}

.job-table .jobs-wrapper .jobs li .bookmark:hover {
  cursor: pointer;
}

.job-table .jobs-wrapper .jobs li .bookmark img {
  width: 15px;
}

@media (max-width: 600px) {
  .job-table .jobs-wrapper {
    width: var(--small-screen-width);
    margin: 10px auto 0 auto;
  }

  .job-table .jobs-wrapper .jobs {
    overflow-y: show;
    height: 100%;
  }
}

/* Job Table ### End ### */

.delete {
  background-color: #9b1212 !important;
}
.delete-modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #302c45ec;
  width: 100vw;
  height: 100vh;
  z-index: 6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.delete-modal .delete {
  margin-right: 20px;
}

/* Signup Page ### Start ### */
#register select {
  background-color: #37334a;
  border: 1px solid #2d293f;
  padding: 10px;
  width: 100%;
}

#register .more-info {
  display: flex;
  margin: 0;
}
#register .more-info div {
  width: 100%;
  margin: 0 auto;
}

#register .more-info div:first-of-type {
  margin-right: 5px !important;
}

/* Signup Page ### End ### */

/* Dashboard ### Start ### */
#dashboard .container {
  width: var(--main-width);
  margin: auto;
}

@media (max-width: 600px) {
  #dashboard .container {
    width: var(--small-screen-width);
  }
}
/* Dashboard ### End ### */
